.div1.fly-birds-page_e0a8f20f17 {
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17,
.div1.fly-birds-page_e0a8f20f17 .div2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 10rem;
}
.div1.fly-birds-page_e0a8f20f17 .div2 {
  align-items: center;
  height: 5.27734rem;
  z-index: 7;
}
.div1.fly-birds-page_e0a8f20f17 .div2 .image3 {
  height: 5.27734rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div2 .div4 {
  margin-left: -0.01172rem;
  margin-top: -4.24219rem;
  min-height: 1.10156rem;
  width: 5.66016rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div2 .div4,
.div1.fly-birds-page_e0a8f20f17 .div2 .div4 .div5 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.div1.fly-birds-page_e0a8f20f17 .div2 .div4 .div5 {
  width: 4.86719rem;
}
.div1.fly-birds-page_e0a8f20f17 .div2 .div4 .div5 .image6 {
  height: 0.25391rem;
  width: 4.83594rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div2 .div4 .div5 .split_text4483 {
  color: #000;
  font-size: 0.34375rem;
  line-height: 0.35156rem;
  text-align: center;
  width: 5.33203rem;
}
.div1.fly-birds-page_e0a8f20f17 .div2 .div4 .div8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.12109rem;
  width: 5.66016rem;
}
.div1.fly-birds-page_e0a8f20f17 .div2 .div4 .div8 .split_text4482 {
  color: #000;
  font-size: 0.1875rem;
  line-height: 0.21484rem;
  text-align: center;
  width: 5.9375rem;
}
.div1.fly-birds-page_e0a8f20f17 .div2 .div4 .price {
  color: #000;
  margin-top: 0.40625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 7.62891rem;
  justify-content: flex-start;
  margin-top: -0.01172rem;
  padding-bottom: 0.86328rem;
  width: 10rem;
  z-index: 6;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .image11 {
  height: 7.62891rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div12 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -6.80078rem;
  min-height: 1.55078rem;
  width: 7.03125rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div12 .image13 {
  height: 1.55078rem;
  width: 7.03125rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div12 .div14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -6.81641rem;
  margin-top: -0.27734rem;
  width: 1.85156rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div12 .div14 .div15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div12 .div14 .div15 .split_text4469 {
  color: #000;
  font-size: 0.15625rem;
  line-height: 0.19531rem;
  text-align: start;
  width: 1.98828rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div12 .div14 .div16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.05469rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div12 .div14 .div16 .split_text4468 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.14063rem;
  text-align: start;
  width: 1.66406rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -0.17578rem;
  min-height: 2.44531rem;
  width: 7.03125rem;
  z-index: 2;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div18 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 2.44531rem;
  width: 2.28906rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div18 .image19 {
  height: 2.44531rem;
  width: 2.28906rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div18 .div20 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.21875rem;
  margin-top: -2.26563rem;
  width: 1.64844rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div18 .div20 .div21 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17
  .div10
  .div17
  .div18
  .div20
  .div21
  .split_text4471 {
  color: #000;
  font-size: 0.15625rem;
  letter-spacing: 0.00195rem;
  line-height: 0.19531rem;
  text-align: start;
  width: 1.85547rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div18 .div20 .div22 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.09375rem;
  width: 1.63281rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div10
  .div17
  .div18
  .div20
  .div22
  .split_text4470 {
  color: #000;
  font-size: 0.10156rem;
  letter-spacing: 0.00195rem;
  line-height: 0.14063rem;
  text-align: start;
  width: 1.64063rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div23 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 2.44531rem;
  width: 2.28906rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div23 .image24 {
  height: 2.44531rem;
  width: 2.28906rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div23 .div25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -0.41016rem;
  margin-top: -2.26563rem;
  width: 1.44922rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div23 .div25 .div26 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17
  .div10
  .div17
  .div23
  .div25
  .div26
  .split_text4473 {
  color: #000;
  font-size: 0.15625rem;
  line-height: 0.19531rem;
  text-align: start;
  width: 1.63672rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div23 .div25 .div27 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.09375rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div10
  .div17
  .div23
  .div25
  .div27
  .split_text4472 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.14063rem;
  text-align: start;
  width: 1.67188rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div28 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 2.44531rem;
  width: 2.28906rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div28 .image29 {
  height: 2.44531rem;
  width: 2.28906rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div28 .div30 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.26172rem;
  margin-top: -2.26563rem;
  width: 1.61328rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div28 .div30 .div31 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17
  .div10
  .div17
  .div28
  .div30
  .div31
  .split_text4475 {
  color: #000;
  font-size: 0.15625rem;
  line-height: 0.19531rem;
  text-align: start;
  width: 1.8125rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div17 .div28 .div30 .div32 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.09375rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div10
  .div17
  .div28
  .div30
  .div32
  .split_text4474 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.14063rem;
  text-align: start;
  width: 1.66797rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.08203rem;
  min-height: 2.03516rem;
  width: 7.03125rem;
  z-index: 3;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div34 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 2.03516rem;
  width: 2.28906rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div34 .image35 {
  height: 2.03516rem;
  width: 2.28906rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div34 .div36 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0.21094rem;
  margin-top: -1.85938rem;
  width: 0.91406rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div34 .div36 .div37 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17
  .div10
  .div33
  .div34
  .div36
  .div37
  .split_text4477 {
  color: #000;
  font-size: 0.15625rem;
  letter-spacing: 0.00195rem;
  line-height: 0.19531rem;
  text-align: start;
  width: 1.32813rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div34 .div36 .div38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.08594rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div10
  .div33
  .div34
  .div36
  .div38
  .split_text4476 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.14063rem;
  text-align: start;
  width: 1.66406rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div39 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 2.03516rem;
  width: 2.28906rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div39 .image40 {
  height: 2.03516rem;
  width: 2.28906rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div39 .div41 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0.22656rem;
  margin-top: -1.85938rem;
  width: 1.34375rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div39 .div41 .div42 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17
  .div10
  .div33
  .div39
  .div41
  .div42
  .split_text4479 {
  color: #000;
  font-size: 0.15625rem;
  line-height: 0.19531rem;
  text-align: start;
  width: 1.32813rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div39 .div41 .div43 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.08594rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div10
  .div33
  .div39
  .div41
  .div43
  .split_text4478 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.14063rem;
  text-align: start;
  width: 1.66406rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div44 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 2.03516rem;
  width: 2.28906rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div44 .image45 {
  height: 2.03516rem;
  width: 2.28906rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div44 .div46 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -0.13672rem;
  margin-top: -1.85938rem;
  width: 1.69922rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div44 .div46 .div47 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17
  .div10
  .div33
  .div44
  .div46
  .div47
  .split_text4481 {
  color: #000;
  font-size: 0.15625rem;
  line-height: 0.19531rem;
  text-align: start;
  width: 1.63672rem;
}
.div1.fly-birds-page_e0a8f20f17 .div10 .div33 .div44 .div46 .div48 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.08594rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div10
  .div33
  .div44
  .div46
  .div48
  .split_text4480 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.14063rem;
  text-align: start;
  width: 1.89844rem;
}
.div1.fly-birds-page_e0a8f20f17 .div49 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 7.23438rem;
  justify-content: flex-start;
  padding-bottom: 0.16016rem;
  width: 10rem;
}
.div1.fly-birds-page_e0a8f20f17 .div49 .image50 {
  height: 7.23438rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div49 .div51 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.00391rem;
  margin-top: -6.50391rem;
  min-height: 6.34375rem;
  width: 5.93359rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div49 .div51 .div52 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.01172rem;
  width: 4.05469rem;
}
.div1.fly-birds-page_e0a8f20f17 .div49 .div51 .div52 .split_text4467 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.27344rem;
  text-align: center;
  width: 4.6875rem;
}
.div1.fly-birds-page_e0a8f20f17 .div49 .div51 .div53 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.16406rem;
  width: 5.56641rem;
}
.div1.fly-birds-page_e0a8f20f17 .div49 .div51 .div53 .split_text4466 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.14063rem;
  text-align: center;
  width: 5.62891rem;
}
.div1.fly-birds-page_e0a8f20f17 .div49 .div51 .div54 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5.11719rem;
  width: 5.93359rem;
}
.div1.fly-birds-page_e0a8f20f17 .div49 .div51 .div54 .split_text4465 {
  color: #191919;
  font-size: 0.10156rem;
  line-height: 0.11719rem;
  text-align: center;
  width: 6.28906rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 7.63281rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 5;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .image56 {
  height: 7.63281rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div57 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -6.90234rem;
  width: 5.57031rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div57 .div58 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 3.91406rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div57 .div58 .split_text4461 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.27344rem;
  text-align: center;
  width: 3.90625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div57 .div59 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.17969rem;
  width: 5.57031rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div57 .div59 .split_text4460 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.14063rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div60 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin-left: -0.125rem;
  margin-top: 0.32422rem;
  width: 4rem;
  z-index: 2;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div60 .div61 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 0.80078rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div60 .div61 .image62 {
  height: 0.48828rem;
  margin-left: -0.00391rem;
  width: 0.48828rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div60 .div61 .div63 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.07031rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div60 .div61 .div63 .split_text4464 {
  color: #7d5f37;
  font-size: 0.14063rem;
  line-height: 0.19531rem;
  text-align: start;
  width: 1.02344rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div60 .div64 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.96875rem;
  width: 0.60938rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div60 .div64 .image65 {
  height: 0.5rem;
  margin-left: -0.00391rem;
  width: 0.49609rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div60 .div64 .div66 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.07031rem;
  width: 2rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div60 .div64 .div66 .split_text4463 {
  color: #7d5f37;
  font-size: 0.14063rem;
  line-height: 0.19531rem;
  text-align: center;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div60 .div67 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.10938rem;
  width: 0.54297rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div60 .div67 .image68 {
  height: 0.5rem;
  margin-left: -0.00391rem;
  width: 0.5rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div60 .div67 .div69 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.07031rem;
  width: 0.54297rem;
}
.div1.fly-birds-page_e0a8f20f17 .div55 .div60 .div67 .div69 .split_text4462 {
  color: #7d5f37;
  font-size: 0.14063rem;
  line-height: 0.19531rem;
  text-align: start;
}
.div1.fly-birds-page_e0a8f20f17 .div70 {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 7.58203rem;
  justify-content: flex-start;
  margin-top: -0.00391rem;
  padding-bottom: 1.27734rem;
  width: 10rem;
  z-index: 4;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .image71 {
  height: 7.58203rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div72 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 1.78906rem;
  margin-top: -6.83594rem;
  width: 6.42188rem;
  z-index: 5;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div72 .div73 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 3.375rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div72 .div73 .split_text4459 {
  color: #000;
  font-size: 0.23438rem;
  letter-spacing: 0.00195rem;
  line-height: 0.27344rem;
  text-align: center;
  width: 3.67188rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div72 .div74 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.20313rem;
  width: 4.22266rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div72 .div74 .split_text4458 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.14063rem;
  text-align: center;
  width: 5.92188rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div72 .div75 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5.60938rem;
  width: 6.42188rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div72 .div75 .split_text4457 {
  color: #191919;
  font-size: 0.10156rem;
  letter-spacing: 0.00195rem;
  line-height: 0.11719rem;
  text-align: center;
  width: 6.57422rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div76 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 1.82031rem;
  margin-top: -4.89063rem;
  width: 3.38672rem;
  z-index: 6;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div76 .image77 {
  height: 0.04297rem;
  margin-top: 0.07031rem;
  width: 0.93359rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div76 .div78 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.04688rem;
  width: 2.40625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div76 .div78 .div79 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div76 .div78 .div79 .split_text4456 {
  color: #a58f72;
  font-size: 0.13281rem;
  letter-spacing: 0.00195rem;
  line-height: 0.19141rem;
  text-align: start;
  width: 2.28516rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div76 .div78 .div80 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.0625rem;
  width: 2.40625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div76 .div78 .div80 .split_text4455 {
  color: #000;
  font-size: 0.11328rem;
  letter-spacing: 0.00195rem;
  line-height: 0.15234rem;
  opacity: 0.8;
  text-align: start;
  width: 2.53516rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div81 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 2.06641rem;
  margin-top: 0.23438rem;
  width: 3.14063rem;
  z-index: 6;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div81 .image82 {
  height: 0.04297rem;
  margin-top: 0.07031rem;
  width: 0.93359rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div81 .div83 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0.04688rem;
  width: 2.16406rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div81 .div83 .div84 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div81 .div83 .div84 .split_text4454 {
  color: #a58f72;
  font-size: 0.13281rem;
  line-height: 0.16797rem;
  text-align: start;
  width: 1.73047rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div81 .div83 .div85 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.07031rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div81 .div83 .div85 .split_text4453 {
  color: #000;
  font-size: 0.11328rem;
  line-height: 0.15234rem;
  opacity: 0.8;
  text-align: start;
  width: 2.16406rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div86 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 1.63672rem;
  margin-top: 0.57813rem;
  width: 3.57031rem;
  z-index: 6;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div86 .image87 {
  height: 0.04297rem;
  margin-top: 0.07031rem;
  width: 0.93359rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div86 .div88 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.04688rem;
  width: 2.59375rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div86 .div88 .div89 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div86 .div88 .div89 .split_text4452 {
  color: #a58f72;
  font-size: 0.13281rem;
  line-height: 0.19141rem;
  text-align: start;
  width: 1.67969rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div86 .div88 .div90 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.07031rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div86 .div88 .div90 .split_text4451 {
  color: #000;
  font-size: 0.11328rem;
  line-height: 0.15234rem;
  opacity: 0.8;
  text-align: start;
  width: 2.59375rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div91 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 1.53516rem;
  margin-top: 0.50781rem;
  width: 3.67188rem;
  z-index: 6;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div91 .image92 {
  height: 0.04297rem;
  margin-top: 0.07813rem;
  width: 0.93359rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div91 .div93 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0.04688rem;
  width: 2.69141rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div91 .div93 .div94 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div91 .div93 .div94 .split_text4450 {
  color: #a58f72;
  font-size: 0.13281rem;
  line-height: 0.19141rem;
  text-align: start;
  width: 1.5625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div91 .div93 .div95 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.07031rem;
}
.div1.fly-birds-page_e0a8f20f17 .div70 .div91 .div93 .div95 .split_text4449 {
  color: #000;
  font-size: 0.11328rem;
  line-height: 0.15234rem;
  opacity: 0.8;
  text-align: start;
  width: 2.69141rem;
}
.div1.fly-birds-page_e0a8f20f17 .div96 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 7.23438rem;
  justify-content: flex-start;
  padding-bottom: 0.29297rem;
  width: 10rem;
}
.div1.fly-birds-page_e0a8f20f17 .div96 .image97 {
  height: 7.23438rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div96 .div98 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.00781rem;
  margin-top: -6.53125rem;
  width: 6.27344rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div96 .div98 .div99 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4.20703rem;
}
.div1.fly-birds-page_e0a8f20f17 .div96 .div98 .div99 .split_text4448 {
  color: #000;
  font-size: 0.23438rem;
  letter-spacing: 0.00195rem;
  line-height: 0.27344rem;
  text-align: center;
  width: 3.90625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div96 .div98 .div100 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.00391rem;
  margin-top: 0.1875rem;
  width: 5.51172rem;
}
.div1.fly-birds-page_e0a8f20f17 .div96 .div98 .div100 .split_text4447 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.14063rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div96 .div98 .div101 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4.73438rem;
}
.div1.fly-birds-page_e0a8f20f17 .div96 .div98 .div101 .split_text4446 {
  color: #191919;
  font-size: 0.10156rem;
  line-height: 0.11719rem;
  text-align: center;
  width: 6.40625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div102 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 6.89844rem;
  justify-content: flex-start;
  padding-bottom: 0.55859rem;
  width: 10rem;
}
.div1.fly-birds-page_e0a8f20f17 .div102 .image103 {
  height: 6.89844rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div102 .div104 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.00391rem;
  margin-top: -6.16797rem;
  width: 5.43359rem;
  z-index: 2;
}
.div1.fly-birds-page_e0a8f20f17 .div102 .div104 .div105 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.00781rem;
  width: 4.94922rem;
}
.div1.fly-birds-page_e0a8f20f17 .div102 .div104 .div105 .split_text4445 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.27344rem;
  text-align: center;
  width: 3.90625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div102 .div104 .div106 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.17578rem;
  width: 5.43359rem;
}
.div1.fly-birds-page_e0a8f20f17 .div102 .div104 .div106 .split_text4444 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.14063rem;
  text-align: center;
  width: 5.44922rem;
}
.div1.fly-birds-page_e0a8f20f17 .div102 .image107 {
  height: 4.38672rem;
  margin-top: 0.26172rem;
  width: 7.03125rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div108 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 7.23438rem;
  justify-content: flex-start;
  padding-bottom: 0.27734rem;
  width: 10rem;
}
.div1.fly-birds-page_e0a8f20f17 .div108 .image109 {
  height: 7.23438rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div108 .div110 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.00391rem;
  margin-top: -6.50391rem;
  width: 5.98828rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div108 .div110 .div111 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2.48438rem;
}
.div1.fly-birds-page_e0a8f20f17 .div108 .div110 .div111 .split_text4443 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.27344rem;
  text-align: center;
  width: 3.51563rem;
}
.div1.fly-birds-page_e0a8f20f17 .div108 .div110 .div112 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.16406rem;
  width: 5.45703rem;
}
.div1.fly-birds-page_e0a8f20f17 .div108 .div110 .div112 .split_text4442 {
  color: #000;
  font-size: 0.10156rem;
  letter-spacing: 0.00195rem;
  line-height: 0.14063rem;
  text-align: center;
  width: 5.64063rem;
}
.div1.fly-birds-page_e0a8f20f17 .div108 .div110 .div113 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5.03906rem;
  width: 5.98828rem;
}
.div1.fly-birds-page_e0a8f20f17 .div108 .div110 .div113 .split_text4441 {
  color: #191919;
  font-size: 0.10156rem;
  line-height: 0.11719rem;
  text-align: center;
  width: 6.28906rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 7.63281rem;
  justify-content: flex-start;
  width: 10rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .image115 {
  height: 7.63281rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div116 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -6.89063rem;
  width: 5.32031rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div116 .div117 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2.63281rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div116 .div117 .split_text4434 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.27344rem;
  text-align: center;
  width: 3.125rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div116 .div118 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.1875rem;
  width: 5.32031rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div116 .div118 .split_text4433 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.14063rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin-top: 0.34766rem;
  width: 5.23828rem;
  z-index: 2;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div120 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1.26953rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div120 .image121 {
  height: 0.48828rem;
  width: 0.48828rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div120 .div122 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.07031rem;
  width: 1.26953rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div120 .div122 .div123 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.00391rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div114
  .div119
  .div120
  .div122
  .div123
  .split_text4440 {
  color: #7d5f37;
  font-size: 0.14063rem;
  line-height: 0.19531rem;
  text-align: center;
  width: 1.17188rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div120 .div122 .div124 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.03906rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div114
  .div119
  .div120
  .div122
  .div124
  .split_text4439 {
  color: #7d5f37;
  font-size: 0.11719rem;
  line-height: 0.14844rem;
  text-align: center;
  width: 1.34766rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div125 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.50781rem;
  min-height: 1.08594rem;
  width: 1.64453rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div125 .image126 {
  height: 0.48828rem;
  margin-left: -0.00781rem;
  width: 0.48828rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div125 .div127 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 0.07031rem;
  width: 1.64453rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div125 .div127 .div128 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17
  .div114
  .div119
  .div125
  .div127
  .div128
  .split_text4438 {
  color: #7d5f37;
  font-size: 0.14063rem;
  line-height: 0.19531rem;
  text-align: center;
  width: 1.5625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div125 .div127 .div129 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.03906rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div114
  .div119
  .div125
  .div127
  .div129
  .split_text4437 {
  color: #7d5f37;
  font-size: 0.11719rem;
  line-height: 0.14844rem;
  text-align: center;
  width: 1.79688rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div130 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.50781rem;
  min-height: 1.23438rem;
  width: 1.32031rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div130 .image131 {
  height: 0.48828rem;
  width: 0.49219rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div130 .div132 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.07031rem;
  width: 1.32031rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div130 .div132 .div133 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17
  .div114
  .div119
  .div130
  .div132
  .div133
  .split_text4436 {
  color: #7d5f37;
  font-size: 0.14063rem;
  line-height: 0.19531rem;
  text-align: center;
  width: 1.5625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div114 .div119 .div130 .div132 .div134 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.03906rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div114
  .div119
  .div130
  .div132
  .div134
  .split_text4435 {
  color: #7d5f37;
  font-size: 0.11719rem;
  letter-spacing: 0.00195rem;
  line-height: 0.14844rem;
  text-align: center;
  width: 1.51563rem;
}
.div1.fly-birds-page_e0a8f20f17 .div135 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 5.14063rem;
  justify-content: flex-start;
  padding-right: 4.15625rem;
  width: 10rem;
  z-index: 3;
}
.div1.fly-birds-page_e0a8f20f17 .div135 .image136 {
  height: 5.14063rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div135 .div137 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -8.39063rem;
  margin-top: 0.29688rem;
  width: 4.23438rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div135 .div137 .div138 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4.23047rem;
}
.div1.fly-birds-page_e0a8f20f17 .div135 .div137 .div138 .split_text4432 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.27344rem;
  text-align: start;
  width: 4.5rem;
}
.div1.fly-birds-page_e0a8f20f17 .div135 .div137 .div139 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.14063rem;
  width: 4.23438rem;
}
.div1.fly-birds-page_e0a8f20f17 .div135 .div137 .div139 .split_text4431 {
  color: #000;
  font-size: 0.10156rem;
  letter-spacing: 0.00195rem;
  line-height: 0.14063rem;
  text-align: start;
  width: 4.26953rem;
}
.div1.fly-birds-page_e0a8f20f17 .div135 .div137 .div140 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.48438rem;
  width: 3.99219rem;
}
.div1.fly-birds-page_e0a8f20f17 .div135 .div137 .div140 .split_text4430 {
  color: #191919;
  font-size: 0.10156rem;
  letter-spacing: 0.00195rem;
  line-height: 0.11719rem;
  text-align: start;
  width: 4.20703rem;
}
.div1.fly-birds-page_e0a8f20f17 .div141 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 7.23438rem;
  justify-content: flex-start;
  margin-top: -0.00781rem;
  padding-bottom: 0.17188rem;
  width: 10rem;
  z-index: 2;
}
.div1.fly-birds-page_e0a8f20f17 .div141 .image142 {
  height: 7.23438rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div141 .div143 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.00781rem;
  margin-top: -6.49609rem;
  width: 6.07031rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div141 .div143 .div144 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_e0a8f20f17 .div141 .div143 .div144 .split_text4429 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.27344rem;
  text-align: center;
  width: 3.51563rem;
}
.div1.fly-birds-page_e0a8f20f17 .div141 .div143 .div145 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.00781rem;
  margin-top: 0.1875rem;
  width: 5.59375rem;
}
.div1.fly-birds-page_e0a8f20f17 .div141 .div143 .div145 .split_text4428 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.14063rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_e0a8f20f17 .div141 .div143 .div146 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5.0625rem;
  width: 6.07031rem;
}
.div1.fly-birds-page_e0a8f20f17 .div141 .div143 .div146 .split_text4427 {
  color: #191919;
  font-size: 0.10156rem;
  letter-spacing: 0.00195rem;
  line-height: 0.11719rem;
  text-align: center;
  width: 6.28906rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 6.17969rem;
  justify-content: flex-start;
  padding-bottom: 1.04297rem;
  width: 10rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .image148 {
  height: 6.17969rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div149 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: -0.00781rem;
  margin-top: -5.44922rem;
  width: 3.39844rem;
  z-index: 3;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div149 .div150 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1.375rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div149 .div150 .split_text4426 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.27344rem;
  text-align: center;
  width: 7.03125rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div149 .div151 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.01563rem;
  width: 3.39844rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div149 .div151 .split_text4425 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.27344rem;
  text-align: center;
  width: 7.03125rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div152 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -0.01172rem;
  margin-top: 0.54688rem;
  min-height: 1.60547rem;
  width: 7.01953rem;
  z-index: 1;
}

.div1.fly-birds-page_e0a8f20f17 .div147 .div152 .div153 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 3.47266rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div152 .div153 .image154 {
  height: 1.60547rem;
  width: 3.47266rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div152 .div153 .div155 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -3.29297rem;
  margin-top: -0.3rem;
  width: 0.91406rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div152 .div153 .div155 .div156 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 0.90234rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div147
  .div152
  .div153
  .div155
  .div156
  .split_text4418 {
  color: #333;
  font-size: 0.10938rem;
  line-height: 0.125rem;
  text-align: start;
  width: 1.14063rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div152 .div153 .div155 .div157 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.07813rem;
  width: 0.91406rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div147
  .div152
  .div153
  .div155
  .div157
  .split_text4417 {
  color: #4f4f4f;
  font-size: 0.10156rem;
  line-height: 0.11719rem;
  text-align: start;
  width: 0.92969rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div152 .div158 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0.07422rem;
  min-height: 1.60547rem;
  width: 3.47266rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div152 .div158 .image159 {
  height: 1.60547rem;
  width: 3.47266rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div152 .div158 .div160 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -3.29297rem;
  margin-top: -0.16797rem;
  width: 1.02734rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div152 .div158 .div160 .div161 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1.02734rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div147
  .div152
  .div158
  .div160
  .div161
  .split_text4420 {
  color: #333;
  font-size: 0.10938rem;
  line-height: 0.125rem;
  text-align: start;
  width: 1.07422rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div152 .div158 .div160 .div162 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.07813rem;
  width: 0.96484rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div147
  .div152
  .div158
  .div160
  .div162
  .split_text4419 {
  color: #4f4f4f;
  font-size: 0.10156rem;
  line-height: 0.11719rem;
  text-align: start;
  width: 1.03516rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div163 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -0.01172rem;
  margin-top: 0.10547rem;
  min-height: 1.60547rem;
  width: 7.01953rem;
  z-index: 2;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div163 .div164 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 1.60547rem;
  width: 3.47266rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div163 .div164 .image165 {
  height: 1.60547rem;
  width: 3.47266rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div163 .div164 .div166 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -3.29297rem;
  margin-top: 0.26953rem;
  width: 1.08203rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div163 .div164 .div166 .div167 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1.08203rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div147
  .div163
  .div164
  .div166
  .div167
  .split_text4422 {
  color: #333;
  font-size: 0.10938rem;
  line-height: 0.125rem;
  text-align: start;
  width: 1.14063rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div163 .div164 .div166 .div168 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.07813rem;
  width: 0.91406rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div147
  .div163
  .div164
  .div166
  .div168
  .split_text4421 {
  color: #4f4f4f;
  font-size: 0.10156rem;
  line-height: 0.11719rem;
  text-align: start;
  width: 0.92969rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div163 .div169 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0.07422rem;
  min-height: 1.60547rem;
  width: 3.47266rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div163 .div169 .image170 {
  height: 1.60547rem;
  width: 3.47266rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div163 .div169 .div171 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -3.29297rem;
  margin-top: -0.53125rem;
  width: 0.97656rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div163 .div169 .div171 .div172 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 0.6875rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div147
  .div163
  .div169
  .div171
  .div172
  .split_text4424 {
  color: #333;
  font-size: 0.10938rem;
  line-height: 0.125rem;
  text-align: start;
  width: 1.07422rem;
}
.div1.fly-birds-page_e0a8f20f17 .div147 .div163 .div169 .div171 .div173 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.07813rem;
  width: 0.97266rem;
}
.div1.fly-birds-page_e0a8f20f17
  .div147
  .div163
  .div169
  .div171
  .div173
  .split_text4423 {
  color: #4f4f4f;
  font-size: 0.10156rem;
  line-height: 0.11719rem;
  text-align: start;
  width: 1.01172rem;
}
.div1.fly-birds-page_e0a8f20f17 .div174 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 2.40234rem;
  justify-content: flex-start;
  margin-top: -0.27734rem;
  padding-bottom: 0.51563rem;
  position: relative;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div174 .image175 {
  height: 2.40234rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_e0a8f20f17 .div174 .image176 {
  height: 1.71484rem;
  margin-top: -1.71484rem;
  width: 10rem;
  z-index: 1;
}
.div1.fly-birds-page_e0a8f20f17 .div174 .btn-wrap {
  align-items: center;
  border: 0.01953rem solid #000;
  border-radius: 0.03906rem;
  box-sizing: border-box;
  display: flex;
  height: 0.35938rem;
  justify-content: space-between;
  margin-left: -3.67188rem;
  margin-top: -0.85938rem;
  min-width: 1.20703rem;
  z-index: 2;
}
.div1.fly-birds-page_e0a8f20f17 .div174 .btn-wrap .split_text4521 {
  align-items: center;
  box-sizing: border-box;
  color: #000;
  display: flex;
  font-size: 0.125rem;
  height: 0.35938rem;
  justify-content: center;
  line-height: 1.2;
  min-width: 1.17188rem;
  padding: 0 0.11719rem;
  text-align: center;
}
.div1.fly-birds-page_e0a8f20f17 .div174 .btn-wrap .split_text4521-bg {
  background-image: var(--specsimg);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 0.34766rem 0.22656rem;
  height: 100%;
  width: 0.46875rem;
}

.swiper-container {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
  z-index: 1;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translateZ(0);
}
.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}
.swiper-container-multirow-column > .swiper-wrapper {
  flex-direction: column;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  margin: 0 auto;
  transition-timing-function: ease-out;
}
.swiper-container-pointer-events {
  touch-action: pan-y;
}
.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-container-3d {
  perspective: 1200px;
}
.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-css-mode > .swiper-wrapper {
  -ms-overflow-style: none;
  overflow: auto;
  scrollbar-width: none;
}
.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.specs-con {
  background-color: #fff;
  position: relative;
  z-index: 2;
}
.specs-con .f12 {
  font-size: 12px;
}
.specs-con .f14 {
  font-size: 14px;
}
.specs-con .f16 {
  font-size: 16px;
}
.specs-con .f18 {
  font-size: 18px;
}
.specs-con .f20 {
  font-size: 20px;
}
.specs-con .f22 {
  font-size: 22px;
}
.specs-con .f24 {
  font-size: 24px;
}
.specs-con .f28 {
  font-size: 28px;
}
.specs-con .f30 {
  font-size: 30px;
}
.specs-con .f32 {
  font-size: 32px;
}
.specs-con .f36 {
  font-size: 36px;
}
.specs-con .f38 {
  font-size: 38px;
}
.specs-con .f40 {
  font-size: 40px;
}
.specs-con .f46 {
  font-size: 46px;
}
.specs-con .f48 {
  font-size: 48px;
}
.specs-con .f50 {
  font-size: 50px;
}
.specs-con .f56 {
  font-size: 56px;
}
.specs-con .f60 {
  font-size: 60px;
}
.specs-con .f64 {
  font-size: 64px;
}
.specs-con .f70 {
  font-size: 70px;
}
.specs-con .f72 {
  font-size: 72px;
}
.specs-con .f74 {
  font-size: 74px;
}
.specs-con .f76 {
  font-size: 76px;
}
.specs-con .f80 {
  font-size: 80px;
}
.specs-con .f90 {
  font-size: 90px;
}
.specs-con .f100 {
  font-size: 100px;
}
.specs-con .f110 {
  font-size: 110px;
}
.specs-con .f120 {
  font-size: 120px;
}
.specs-con .f130 {
  font-size: 130px;
}
.specs-con .f140 {
  font-size: 140px;
}
.specs-con .f148 {
  font-size: 148px;
}
.specs-con .f150 {
  font-size: 150px;
}
.specs-con .section {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1226px;
}

.xm-page-area .buy-container::-webkit-scrollbar {
  display: none;
}
.xm-page-area .buy-container .product__main {
  border-top: none !important;
}
.hide-pc {
  display: none !important;
}

body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
:root {
  --skeleton-color: #eee;
}
body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}


.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}
.xm-blur {
  opacity: 0.3 !important;
}
.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}

.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: transparent;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text {
  display: block;
}

.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
  position: relative;
}
.xm-page-area > main,
.xm-page-area_mobile > main {
  position: relative;
  z-index: 1;
}
.mi-bg-color {
  background-color: #fff;
}
.poco-bg-color {
  background-color: #000;
}
.kh .xm-text,
.mm .xm-text,
.th .xm-text {
  line-height: 1.5 !important;
} /*! normalize.css v3.0.2 | MIT License | git.io/normalize */


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}


abbr[title] {
  border-bottom: 0.00391rem dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 0.15625rem;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, sans-serif;
  font-size: 1em;
}

fieldset {
  border: 0.00391rem solid silver;
  margin: 0 0.00781rem;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}



sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.eco_name-88 {
  font-size: 0.34375rem;
  line-height: 0.42969rem;
}
.eco_name-80 {
  font-size: 0.3125rem;
  line-height: 0.39063rem;
}
.eco_name-72 {
  font-size: 0.34375rem;
  line-height: 0.35156rem;
}
.eco_slogan {
  font-size: 0.1875rem;
  line-height: 0.23438rem;
}
.eco_ksp {
  font-size: 0.11719rem;
  line-height: 0.17188rem;
}
.eco_name-radius {
  border-radius: 0.01563rem;
  font-size: 0.15625rem;
  line-height: 0.22656rem;
}
.eco_ksp-title {
  font-size: 0.125rem;
  line-height: 0.15625rem;
}
.eco_ksp-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}
.eco_ksp-item {
  padding: 0.11719rem 0.13672rem;
}
.eco_title {
  font-size: 0.23438rem;
  line-height: 0.28125rem;
}
.eco_text {
  font-size: 0.11719rem;
  line-height: 0.15625rem;
}
.eco_note {
  font-size: 0.09375rem;
  line-height: 0.10938rem;
}
.eco_number {
  font-size: 0.42969rem;
  line-height: 0.42969rem;
}
.eco_note-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}

.eco_specs-title {
  font-size: 0.10938rem;
  line-height: 0.14063rem;
}
.eco_specs-label,
.eco_specs-value {
  font-size: 0.07031rem;
  line-height: 0.10156rem;
}
.f-thin {
  font-weight: 100;
}
.f-extra {
  font-weight: 200;
}
.f-light {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}
.xm-button,
.xm-navbar__nav-item,
.xm-price {
  font-weight: 400 !important;
}


.container {
  margin: 0 auto;
  width: 1226px;
}
main {
  display: inline-block;
  font-size: 16px;
}

